:root {
  --pokemon: #ffcd0352;
  --black: #0f0f0f;
  --ghost: #0f0f0f1e;
  --grey: #eeeeee;
  --white: #f0f0f0;
  --blue: #F0FFFF;
  --ice: #d3d6fa;
  --cloud: #f0fcff;
  --purple: #F8F0FF;
  --red: #ffdbdb;
  --pink: #FFF0F0;
  --green: #F8FFF0;
  --bug: #ecffd6;
  --silver: #dbdbdb;
  --yellow: #fffef0;
  --brown: #e2cfc4;
  --orange: #ffdfcd;
  --gold: #dfc48b;
  --rock: #d3d3d3;
  --normal: #fafaf0;
}

.App {
  text-align: center;
}

.NavbarContainer {
  justify-content: space-between;
}
.NavbarLeft {
  display: flex;
}
.NavbarRight {
  display: block;
}
.NavbarBack {
  color: var(--black);
  font-size: 1em;
  margin-right: 8px;
}
.NavbarCompare {
  color: var(--black);
  font-size: 1em;
  margin-right: 10px;
}
.NavbarFilter {
  color: var(--black);
  font-size: 1em;
}
.App-logo {
  height: 30px;
  pointer-events: none;
}
.App-header {
  display: block;
  float: left;
  min-height: 30px;
}
.App-link {
  color: #61dafb;
}

.LoadingContainer {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Loading {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  /* margin-bottom: 50px; */
  pointer-events: none;
}
.ToastImage {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .Loading {
    animation: Loading-spin infinite 1s linear;
  }
}

@keyframes Loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  display: flex;
  max-width: 920px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.Content {
  width: 100%;
}
.Monster {
  border-radius: 10px;
  overflow: hidden;
}

.Profile {
  display: flex;
}

.Detail {
  width: 100%;
  display: block;
  float: left;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  margin: 5px;
  border-radius: 10px;
}
.DetailTabs {
  overflow: visible;
}
/* Style the buttons inside the tab */
.DetailTabs button {
  outline: none;
  cursor: pointer;
  padding: 7px 7px;
  transition: 0.3s;
  font-size: .8em;
}
/* Create an active/current tablink class */
.DetailTabs button.active {
  background-color: var(--grey);
}
.DetailTab {
  border-radius: 10px 10px 0 0;
  border: none;
  background-color: var(--ghost);
}
/* Style the tab content */
.DetailContent {
  display: none;
  padding: 6px 12px;
  border-radius: 0 10px 10px 10px;
  background-color: var(--white);
}
.DetailText {
  font-size: .8em;
  margin: 0px;
}
.default {
  display: block;
}

.Item {
  width: 50%;
  display: block;
  float: left;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.ItemBox {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--grey);
}
.ItemImg {
  width: 100%;
}
.ItemId {
  color: var(--black);
  font-size: 1em;
}
.ItemName {
  color: var(--black);
  font-size: 1.2em;
}
.ItemType {
  color: var(--black);
  font-size: .8em;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
}

.StatsLabel {
  color: var(--black);
  font-size: .8em;
}
.StatsBar {
  /* background-color: var(--black) !important; */

}
.StatsChart {
  color: var(--black);
  font-size: .8em;
}

.Evolution {
  display: block;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--grey);
}
.EvolutionLevel {
  display: block;
  align-self: center;
}
.EvolutionLevelText {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .EvolutionLevelText {
    font-size: .8em;
  }
}
.EvolutionLevelIcon {
  font-size: 2em;
  display: flex;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .EvolutionLevelIcon {
    font-size: 1.5em;
  }
}
.EvolutionImage {
  width: 100%;
  padding: 10px;
}






.normal {
  background-color: var(--normal);
}
.fire {
  background-color: var(--red);
}
.fairy {
  background-color: var(--pink);
}
.grass {
  background-color: var(--green);
}
.flying {
  background-color: var(--cloud);
}
.water {
  background-color: var(--blue);
}
.poison {
  background-color: var(--purple);
}
.bug {
  background-color: var(--bug);
}
.electric {
  background-color: var(--yellow);
}
.ground {
  background-color: var(--brown);
}
.fighting {
  background-color: var(--orange);
}
.psychic {
  background-color: var(--gold);
}
.rock {
  background-color: var(--rock);
}
.steel {
  background-color: var(--silver);
}
.ice {
  background-color: var(--ice);
}
.ghost {
  background-color: var(--ghost);
}
.dark {
  background-color: var(--ghost);
}
.dragon {
  background-color: var(--red);
}